<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../../../../bootstrap.min.css" />
		<script src="../../../../../jquery-3.2.1.min.js"></script>
		<script src="../../../../../bootstrap.min.js"></script>
		<title></title>
	</head>
	<body>
		
     <div>
					<table class="table table-responsive-md ">
							<thead>
								<tr>
									
									<th>订单数量</th>
									<th>订单客户</th>
									<th>订单日期</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<th>{$Onum_ser}</th>
									<th>{$Ocli_ser}</th>
									<th>{$Odate_ser}</th>
					
								</tr>
							</tbody>
				</div>





	</body>
</html>
