<!DOCTYPE html >
<head>
    <title>客户关系管理系统</title>
    <link rel="stylesheet" type="text/css" href="../../../../../bootstrap.min.css" />
    <script type="text/javascript" src="../jquery-3.2.1.min.js"></script>
    </style>
</head>
<body>
	<div class="text-center" >
		
	<form action='/TP5/public/CRM//User/login' method="post"  >
        <h1 >客户关系管理系统</h1>
        <hr />
        <p>
            <label>帐&nbsp;&nbsp;&nbsp;号：<input type="text" name="uname"  placeholder="请输入您的姓名"/></label>
        </p>
        <p>
            <label>密&nbsp;&nbsp;&nbsp;码：<input type="password" name="pwd" placeholder="请输入用户密码"/></label>
        </p>
        <hr />
        <input type="submit" value=" 登 录 " class="btn btn-primary btn-large login" />
        &nbsp;&nbsp;&nbsp;<input type="reset" value=" 取 消 " class="btn btn-large" />
	</form>
    </div>
</body>
</html>
