<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../../../../bootstrap.min.css" />
		<script src="../../../../../jquery-3.2.1.min.js"></script>
		<script src="../../../../../bootstrap.min.js"></script>
		<title></title>
	</head>

	<body>

		<div>
			<table class="table table-responsive-md ">
				<thead>
					<tr>

						<th>用户密码</th>
						<th>用户权限</th>
						<th>用户电话</th>
						<th>用户职位</th>
					</tr>
				</thead>
				<tbody>
					<tr>

						<th>{$Upwd_ser}</th>
						<th>{$Uroot_ser}</th>
						<th>{$Utel_ser}</th>
						<th>{$Uposi_ser}</th>

					</tr>
				</tbody>
		</div>

	</body>

</html>