<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../../../../bootstrap.min.css" />
		<script src="../../../../../jquery-3.2.1.min.js"></script>
		<script src="../../../../../bootstrap.min.js"></script>
		<title></title>
	</head>
	<body>
		
     <div>
					<table class="table table-responsive-md ">
							<thead>
								<tr>
									
									<th>性别</th>
									<th>公司</th>
									<th>职位</th>
									<th>电话</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<th>{$Csex_ser}</th>
									<th>{$Ccomp_ser}</th>
									<th>{$Cposi_ser}</th>
									<th>{$Ctel_ser}</th>
								</tr>
							</tbody>
				</div>





	</body>
</html>
