<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../../../../bootstrap.min.css" />
		<script src="../../../../../jquery-3.2.1.min.js"></script>
		<script src="../../../../../bootstrap.min.js"></script>
		<title></title>
	</head>
	<body>
		
     <div>
					<table class="table table-responsive-md ">
							<thead>
								<tr>
									
									<th>合作意向</th>
									<th>合作项目</th>
									<th>回款金额</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<th>{$Ctend_ser}</th>
									<th>{$Cproj_ser}</th>
									<th>{$Cpay_ser}</th>
					
								</tr>
							</tbody>
				</div>





	</body>
</html>
